<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SwiftUI.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3ECC8A371E2DC11700D79F6C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3ECC8A4B1E2DC11700D79F6C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3ECC8A561E2DC11700D79F6C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
